extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3
        .row
            .col-12
                +box-head("Danh sách phòng")

        .row.mb-3
            .col-12
                a(href="/rooms-chat/create" class="btn btn-sm btn-success mr-1") Tạo phòng chat

        .col-6
            each roomChat in roomsChat
                .box-room
                    .inner-avatar
                        img(src=(roomChat.avatar? roomChat.avatar : "https://robohash.org/hicveldicta.png") alt=roomChat.title)
                    .inner-info
                        .inner-name #{roomChat.title}
                        .inner-buttons
                            a(href=`/chat/${roomChat.id}` class="btn btn-sm btn-primary mr-1") Nhắn tin