footer.footer
    .footer_top
        .footer_container 
            .row.footer_inner 
                .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-6.footer_box
                    h3 HỖ TRỢ KHÁCH HÀNG
                    ul 
                        li.hotLine Hotline: 1800 6324
                        li
                            a(href="/") Các câu hỏi thường gặp
                        li
                            a(href="/") Gửi yêu cầu hỗ trợ
                        li
                            a(href="/") Hướng dẫn đặt hàng
                        li
                            a(href="/") Phương thức vận chuyển
                        li
                            a(href="/") Chính sách đổi trả
                .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-6.footer_box
                    h3 VỀ Haka
                    ul 
                        li
                            a(href="/") Giới thiệu Haka
                        li
                            a(href="/") Chính sách bảo mật
                        li
                            a(href="/") Điều khoản sử dụng
                        li
                            a(href="/") Haka cẩm nang
                        li
                            a(href="/") Tuyển dụng
                        li
                            a(href="/") Liên hệ
                .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-6.footer_box 
                    h3 HỢP TÁC VÀ LIÊN KẾT
                    ul
                        li
                            a(href="/") Haka Clinic
                        li
                            a(href="/") DermaHair
                    .social-icon 
                        a(href="/")
                            <i class="fa-brands fa-facebook"></i>
                        a(href="/")
                            <i class="fa-brands fa-tiktok"></i>
                        a(href="")
                            <i class="fa-brands fa-instagram"></i>
                    
                .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-6.footer_box
                    h3 BLOG 
                    ul 
                        li 
                            a(href="/") Kinh Nghiệm Mua Hàng
                        li
                            a(href="/") Tư Vấn Công Nghệ
                        li
                            a(href="/") Góc Công Nghệ
                        li
                            a(href="/") Đánh Giá Sản Phẩm
            .footer_wrapper 
                .footer_wrapper-divider
                .footer_wrapper-logos
                    a(href="/")
                        img(src="https://media.hcdn.vn/hsk/icons/logo_hsk_clinic.png" alt="clinic")
                    a(href="/")
                        img(src="https://media.hcdn.vn/hsk/icons/logo_dermahair.png" alt="dermahair")
                    a(href="/")
                        img(src="https://media.hcdn.vn/hsk/icons/logo_synctives.png", alt="synctives")
                    a(href="/")
                        img(src="https://media.hcdn.vn/hsk/icons/logo_mastige.png", alt="mastige")
                        

        
    .footer_bottom
        .footer_container
            .copyright #{settingGeneral.copyright}