extends ../../layouts/default.pug
include ../../mixins/table-tree.pug
block main
    h1 Danh mục sản phẩm
    .card.mb-3
        .card-header Danh sách sản phẩm
        .card-body
            .row 
                .col-8
                .col-4 
                    a.btn.btn-outline-success(href=`${prefixAdmin}/product-category/create`) Thêm mới

            table(class="table table-hover table-sm" checkbox-multi)
                thead
                    tr
                        th 
                            input(type="checkbox" name="checkall")
                        th STT
                        th Hình ảnh
                        th Tiêu đề
                        th Vị trí
                        th Trạng thái
                        th Hành động
                tbody
                    each item,index in category
                        +table-tree(item,"")