extends ../../layouts/auth.pug
include ../../mixins/alert.pug

block main
  +alertError(5000)

  .container.my-5
    .row.justify-content-center
      .col-8
        h1.text-center Đăng nhập

        form(action=`${prefixAdmin}/auth/login` method="POST")
          .form-group
            label(for="email") Email
            input#email.form-control(type="email" name="email" required)

          .form-group
            label(for="password") Mật khẩu
            input#password.form-control(type="password" name="password" required)

          .form-group
            button.btn.btn-primary.btn-block(type="submit") Đăng nhập