@use "utils/variables" as *;

@use 'layouts/default';

@use "partials/header";
@use "partials/footer";

@use "mixins/product-layout.scss";
@use "mixins/product-item.scss";
@use "mixins/category-wrapper";
@use "mixins/box-title";

@use "pages/home";
@use "pages/user";
@use "pages/cart";
@use "pages/checkout";
@use "pages/search";
@use "pages/product";
@use "pages/chat";