a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 1140px;
    padding: 0 15px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 960px;
    padding: 0 15px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 720px;
    padding: 0 15px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
.header_top {
  background: linear-gradient(180deg, #e45464 0%, #d70018 100%);
  padding: 20px 0;
}
.header_container {
  display: flex;
  max-width: 1300px;
  width: 100%;
  gap: 15px;
  margin: 0 auto;
  align-items: center;
}
.header_logo {
  flex: 2 1 0;
  margin-right: 10px;
}
.header_logo-image {
  max-width: 180px;
  display: block;
}
.header_logo-image img {
  width: 100%;
}
.header_search {
  flex: 4 1 0;
  margin-right: 25px;
}
.header_search-group {
  display: flex;
  align-items: center;
  display: flex;
  background-color: white;
  padding: 7px 10px;
  border-radius: 30px;
  margin-bottom: 0;
}
.header_search-group input {
  width: 100%;
  border: none;
}
.header_search-group input:focus {
  outline: none;
}
.header_search-group button {
  border: none;
  background-color: white;
}
.header_search-group button i {
  font-size: 20px;
}
.header_nav {
  flex: 3 1 0;
  margin-right: 25px;
  display: flex;
}
.header_nav a {
  color: white;
  text-align: center;
  display: block;
  font-size: 16px;
  margin-right: 20px;
}
.header_nav a:last-child {
  margin-right: 0;
}
.header_miniBar {
  flex: 1 1 0;
  cursor: pointer;
  display: none;
}
.header_miniBar i {
  color: white;
  font-size: 25px;
}
.header_actions {
  flex: 5 1 0;
  display: flex;
  gap: 15px;
  align-items: center;
}
.header_cart {
  flex: 0.5 1 0;
}
.header_cart a {
  position: relative;
}
.header_cart i {
  font-size: 25px;
  color: white;
}
.header_cart span {
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: #ff6600;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_user {
  flex: 2 1 0;
}
.header_user li i {
  font-size: 20px;
  color: white;
  margin-right: 2px;
}
.header_user li a {
  text-align: center;
  color: white;
  display: block;
  font-size: 16px;
}
.header_contact {
  flex: 1.5 1 0;
}
.header_contact li i {
  font-size: 20px;
  color: white;
  margin-right: 2px;
}
.header_contact li a {
  text-align: center;
  color: white;
  display: block;
  font-size: 16px;
}
.header_auth.logout {
  flex: 2 1 0;
}
.header_auth.login {
  flex: 4 1 0;
}
.header_auth li {
  display: flex;
}
.header_auth li i {
  font-size: 20px;
  color: white;
  margin-right: 2px;
}
.header_auth li a {
  text-align: center;
  color: white;
  display: block;
  font-size: 15px;
  margin-right: 5px;
}
@media (max-width: 1300px) {
  .header_container {
    max-width: 1200px;
    padding: 0 15px;
  }
  .header_actions {
    flex: 3 1 0;
  }
  .header_user a span, .header_auth a span, .header_contact a span {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .header_nav a {
    font-size: 14px;
  }
}
@media (max-width: 767.98px) {
  .header_container {
    gap: 5px;
    position: relative;
  }
  .header_search {
    flex: 3 1 0;
  }
  .header_miniBar {
    display: block;
  }
  .header_actions {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 60px;
    right: 0;
    background: white;
    width: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    padding-left: 20px;
    z-index: 10;
  }
  .header_actions.active {
    display: flex;
  }
  .header_cart i {
    color: #333;
  }
  .header_user li i {
    color: #333;
  }
  .header_user li a {
    color: #333;
  }
  .header_user li a span {
    display: inline;
  }
  .header_contact li i {
    color: #333;
  }
  .header_contact li a {
    color: #333;
  }
  .header_contact li a span {
    display: inline;
  }
  .header_auth li {
    display: block;
  }
  .header_auth li i {
    color: #333;
  }
  .header_auth li a {
    color: #333;
  }
  .header_auth li a span {
    display: inline;
  }
}
@media (max-width: 575.98px) {
  .header_search {
    flex: 2;
  }
  .header_nav a {
    font-size: 13px;
  }
}

.footer_container {
  display: flex;
  max-width: 1300px;
  width: 100%;
  gap: 15px;
  margin: 0 auto;
  align-items: center;
}
.footer_top {
  background: linear-gradient(180deg, #e45464 0%, #d70018 100%);
  padding: 20px;
}
.footer_top .footer_container {
  display: flex;
  flex-direction: column;
}
.footer_bottom {
  background-color: #333;
  color: white;
}
.footer_bottom .copyright {
  width: 100%;
  text-align: center;
}
.footer_inner {
  width: 100%;
}
.footer_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_wrapper-divider {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.3333333333);
  margin-bottom: 20px;
}
.footer_wrapper-logos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.footer_box {
  margin-bottom: 20px;
}
.footer_box h3 {
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-bottom: 20px;
}
.footer_box ul li {
  margin-bottom: 6px;
}
.footer_box ul li.hotLine {
  color: #ff6600;
}
.footer_box ul li a {
  color: white;
  font-size: 14px;
}
.footer_box .social-icon {
  display: flex;
  margin-top: 20px;
}
.footer_box .social-icon i {
  font-size: 30px;
  margin-right: 10px;
  color: white;
}

.slick-prev, .slick-next {
  position: absolute;
  top: 40%;
  background: black;
  opacity: 0.3;
  border: none;
  width: 30px;
  height: 40px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-prev i, .slick-next i {
  font-size: 20px;
  color: white;
}

.slick-prev {
  left: 0px;
  border-radius: 0 5px 5px 0;
}

.slick-next {
  right: 6px;
  border-radius: 5px 0 0 5px;
}

.product_wrapper-slider {
  width: 100%;
  padding: 10px 15px 15px 19px;
  background-color: #FF8E4D;
  border-radius: 10px;
}
.product_wrapper-slider .product-slider {
  position: relative;
}
.product_wrapper-slider .product-slider-title {
  color: white;
  padding-bottom: 15px;
  font-weight: 700;
}
.product_wrapper-slider .product-slider .product-item {
  margin-right: 10px;
}

.product_grid-box {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.product_grid-box .product-item {
  width: calc(20% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}
.product_grid-box:nth-child(5n) {
  margin-right: 0;
}

.product-item {
  background-color: white;
  height: 340px;
  border-radius: 15px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: visible;
}
.product-item a {
  height: 100%;
  position: relative;
  overflow: visible;
}
.product-item a .inner-discount {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: rgba(255, 102, 0, 0.8);
  border-radius: 0 15px 0 15px;
  color: white;
  padding: 3px;
  font-size: 14px;
  z-index: 10;
}
.product-item a .inner-featured {
  position: absolute;
  top: -12px;
  left: -12px;
  color: white;
  font-size: 13px;
  padding: 3px;
  border-radius: 15px 0 15px 0;
  background-color: #D80019;
  z-index: 10;
}
.product-item .inner-image {
  width: 100%;
  padding: 15px;
}
.product-item .inner-image img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.product-item:hover .inner-image img {
  transition: transfrom 0.1 ease-in;
  transform: scale(1.1);
}
.product-item .inner-info-product h3 {
  font-size: 16px;
  color: #18181b;
}
.product-item .inner-info-product .inner-price {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
.product-item .inner-info-product .inner-price .inner-price-old {
  font-size: 16px;
  text-decoration: line-through;
  color: #ccc;
}
.product-item .inner-info-product .inner-price .inner-price-new {
  font-size: 16px;
  color: rgba(255, 102, 0, 0.8);
}

.category_wrapper-inner {
  display: flex;
  min-height: 550px;
  gap: 20px;
  position: relative;
}
.category_wrapper-inner .category-panel {
  flex: 7.5 1 0;
  min-height: 100%;
  display: flex;
  gap: 20px;
}
.category_wrapper-inner .category-panel .panel-left {
  flex: 7 1 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 15px;
  padding: 40px 20px;
}
.category_wrapper-inner .category-panel .panel-left .banner-images {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.category_wrapper-inner .category-panel .panel-left .banner-images a {
  flex: 3 1 0;
}
.category_wrapper-inner .category-panel .panel-left .banner-images a img {
  width: 100%;
}
.category_wrapper-inner .category-panel .panel-left .slick-track {
  display: flex !important;
  align-items: center;
  width: 100% !important;
}
.category_wrapper-inner .category-panel .panel-left .slick-slide {
  flex: 0 0 100% !important;
  width: 100% !important;
  max-width: 100% !important;
  height: auto;
}
.category_wrapper-inner .category-panel .panel-left .banner-slider {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  margin-bottom: 30px;
}
.category_wrapper-inner .category-panel .panel-left .banner-slider img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.category_wrapper-inner .category-panel .panel-left .banner-halloween {
  display: flex;
  gap: 20px;
}
.category_wrapper-inner .category-panel .panel-left .banner-halloween a {
  flex: 1 1 0;
}
.category_wrapper-inner .category-panel .panel-left .banner-halloween a img {
  width: 100%;
}
.category_wrapper-inner .category-panel .panel-right {
  flex: 3 1 0;
  display: flex;
  flex-direction: column;
}
.category_wrapper-inner .category-panel .panel-right .box-top {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 15px;
  padding: 20px 10px;
}
.category_wrapper-inner .category-panel .panel-right .box-top .inner-title {
  display: flex;
}
.category_wrapper-inner .category-panel .panel-right .box-top .inner-title .image {
  width: 50px;
  height: 50px;
  background: linear-gradient(180deg, #FFF5F0 0%, #F4C8D0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}
.category_wrapper-inner .category-panel .panel-right .box-top .inner-title .image img {
  width: 30px;
  height: 30px;
}
.category_wrapper-inner .category-panel .panel-right .box-top .inner-title p {
  flex: 1;
  font-size: 14px;
  font-weight: 700;
}
.category_wrapper-inner .category-panel .panel-right .box-top .inner-desc {
  font-size: 14px;
}
.category_wrapper-inner .category-panel .panel-right .box-top .inner-auth a {
  color: #d70018;
}
.category_wrapper-inner .category-panel .panel-right .box-top .inner-auth span {
  color: #a1a1aa;
  margin: 0 3px;
}
.category_wrapper-inner .category-panel .panel-right .box-bottom {
  flex: 1;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 15px;
  padding: 30px 10px;
}
.category_wrapper-inner .category-panel .panel-right .box-bottom .item .title a {
  font-size: 13px;
  padding: 5px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.0588235294);
  text-align: center;
  color: #1d1d20;
  display: block;
  width: 100%;
  font-weight: 500;
}
.category_wrapper-inner .category-panel .panel-right .box-bottom .item ul li {
  margin: 10px 0;
}
.category_wrapper-inner .category-panel .panel-right .box-bottom .item ul li a {
  display: flex;
  align-items: center;
  color: #1d1d20;
  font-size: 14px;
}
.category_wrapper-inner .category-panel .panel-right .box-bottom .item ul li a img {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}
.category_wrapper-inner .sub-menu {
  position: relative;
  flex: 2.5 1 0;
  z-index: 5;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 15px;
  border-radius: 8px 0 0 8px;
  overflow: visible;
}
.category_wrapper-inner .sub-menu .sub-item {
  position: static;
}
.category_wrapper-inner .sub-menu .sub-item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  color: #333;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.2ms ease-in-out;
}
.category_wrapper-inner .sub-menu .sub-item a .title img {
  width: 28px;
  height: 28px;
  margin-right: 15px;
}
.category_wrapper-inner .sub-menu .sub-item a:hover {
  background-color: rgba(0, 0, 0, 0.0588235294);
  color: #d70018;
}
.category_wrapper-inner .sub-menu .sub-item .sub-menu {
  display: none;
  position: absolute;
  top: 0;
  left: calc(100% + 15px);
  width: 215%;
  min-height: 585px;
  background-color: #fff;
  border-left: 1px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 15px;
  border-radius: 0 8px 8px 0;
  padding: 20px;
  transition: all 0.25s ease;
}
.category_wrapper-inner .sub-menu .sub-item .sub-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 30px;
  height: 100%;
}
.category_wrapper-inner .sub-menu .sub-item .sub-menu .sub-item a {
  display: block;
}
.category_wrapper-inner .sub-menu .sub-item .sub-menu .sub-item a .images {
  display: flex;
}
.category_wrapper-inner .sub-menu .sub-item .sub-menu .sub-item a .images .item {
  width: 100%;
  display: flex;
  align-items: center;
}
.category_wrapper-inner .sub-menu .sub-item .sub-menu .sub-item a .images .item .title {
  width: 200px;
  margin-right: 10px;
}
.category_wrapper-inner .sub-menu .sub-item .sub-menu .sub-item a .images .item .image {
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  padding: 10px;
}
.category_wrapper-inner .sub-menu .sub-item .sub-menu .sub-item a .images .item .image img {
  width: 100%;
  object-fit: cover;
}
.category_wrapper-inner .sub-menu .sub-item:hover > .sub-menu {
  display: block;
}
@media (max-width: 1199.98px) {
  .category_wrapper .category-panel .panel-right {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .category_wrapper .sub-menu .sub-item a .title span {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .category_wrapper-inner {
    min-height: 400px;
  }
}

.box-title h2 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 30px;
  color: #d70018;
}

.home_products-sale {
  margin: 50px;
}

.home_category {
  margin: 50px 0 20px 0;
}

.home_ads-image {
  width: 100%;
}
.home_ads-image img {
  width: 100%;
}

.home_products-featured {
  margin: 50px;
}

.home_products-new {
  margin: 50px;
}

.login_box, .register_box {
  display: flex;
}
.login_box .box-title h2, .register_box .box-title h2 {
  font-size: 35px;
  font-weight: 600;
}
.login_box-left, .register_box-left {
  flex: 6.5 1 0;
  background-color: #f7f7f8;
  padding: 50px;
}
.login_box-content, .register_box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.login_box-card, .register_box-card {
  padding: 30px;
  background: linear-gradient(131deg, #F6F6F6 -0.22%, #ECEBEB 45.23%, #E2E0E0 90.68%);
  border-radius: 20px;
  position: relative;
}
.login_box-card .cornor, .register_box-card .cornor {
  width: 70px;
  height: 70px;
  position: absolute;
}
.login_box-card .top-left, .register_box-card .top-left {
  border-radius: 20px 0 0 0;
  top: -4px;
  left: -4px;
  border-top: 5px solid #d70018;
  border-left: 5px solid #d70018;
  z-index: 1;
}
.login_box-card .top-right, .register_box-card .top-right {
  top: -4px;
  right: -4px;
  border-radius: 0 20px 0 0;
  border-top: 5px solid #d70018;
  border-right: 5px solid #d70018;
  z-index: 1;
}
.login_box-card .bottom-left, .register_box-card .bottom-left {
  border-radius: 0 0 0 20px;
  border-bottom: 5px solid #d70018;
  border-left: 5px solid #d70018;
  z-index: 1;
  bottom: -4px;
  left: -4px;
}
.login_box-card .bottom-right, .register_box-card .bottom-right {
  border-radius: 0 0 20px 0;
  bottom: -4px;
  right: -4px;
  border-bottom: 5px solid #d70018;
  border-right: 5px solid #d70018;
  z-index: 1;
}
.login_box-list a, .register_box-list a {
  color: #d70018;
  font-size: 18px;
  display: block;
  text-align: center;
}
.login_box-list ul li, .register_box-list ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.login_box-list ul li i, .register_box-list ul li i {
  margin-right: 10px;
  font-size: 20px;
  color: #d70018;
}
.login_box-list ul li div, .register_box-list ul li div {
  color: #121214;
  font-size: 16px;
}
.login_box-logos, .register_box-logos {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.login_box-logos img, .register_box-logos img {
  width: 190px;
  padding: 5px 10px;
  background-color: #d70018;
}
.login_box-text, .register_box-text {
  color: #121214;
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 500;
}
.login_box-right, .register_box-right {
  flex: 3.5 1 0;
  padding: 100px;
}
.login_box-item, .register_box-item {
  margin-bottom: 30px;
}
.login_box-item .type, .register_box-item .type {
  margin-bottom: 10px;
  color: #333;
  font-weight: 500;
}
.login_box-item input, .register_box-item input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
  outline: none;
}
.login_box-item input:focus, .register_box-item input:focus {
  background-color: white;
  border: 1px solid #333;
}
.login_box-button, .register_box-button {
  display: flex;
  justify-content: center;
}
.login_box-button button, .register_box-button button {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #d70018;
  color: white;
}
.login_box-button:hover button, .register_box-button:hover button {
  background-color: #901;
  color: white;
}
.login_box-forgot, .register_box-forgot {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.login_box-forgot:hover a, .register_box-forgot:hover a {
  text-decoration: line-through;
}
.login_box-register, .register_box-register {
  text-align: center;
}
.login_box-register span, .register_box-register span {
  color: #71717a;
  margin-right: 10px;
}
.login_box-register a, .register_box-register a {
  color: #d70018;
}
@media (max-width: 991.98px) {
  .login_box-left, .register_box-left {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
