@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
html, body {
    font-family: Inter, "Inter Fallback", Arial, sans-serif;
}
a {
    text-decoration: none !important;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    align-items: center;

    @media (max-width: 1199.98px) {
        max-width: 1140px;
        padding: 0 15px;
    }

    // Tablet lớn
    @media (max-width: 991.98px) {
        max-width: 960px;
        padding: 0 15px;
    }

    // Tablet nhỏ
    @media (max-width: 767.98px) {
        max-width: 720px;
        padding: 0 15px;
    }

    // Mobile
    @media (max-width: 575.98px) {
        max-width: 100%;
        padding: 0 10px;
    }
}

/* Image Preview */
.upload-image {
    margin-top: 10px;

    .upload-image-input {
        display: block;
        margin-bottom: 10px;
    }

    .image-preview {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 5px;
        background-color: #f9f9f9;
        display: none; // mặc định ẩn
    }

    .button-delete-image {
        margin-top: 8px;
        background-color: #ef4444;
        color: white;
        border: none;
        padding: 6px 12px;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
    }
}

/* End Image Preview */