extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3
        .row
            .col-12
                +box-head("Chat")
        .row
            .col-12
                .chat(my-id=user.id)
                    .inner-head
                        .inner-avatar EY
                        .inner-name Em Yêu

                    //- Phần nội dung chat
                    .inner-body
                        each chat in chats
                                div(class=(chat.user_id == user.id ? "inner-outgoing" : "inner-incoming"))
                                    if(chat.user_id != user.id)
                                        .inner-name #{chat.infoUser.fullName}
                                    if(chat.content)
                                        .inner-content #{chat.content}
                                    if(chat.images)
                                        .inner-images
                                            each image in chat.images 
                                                img(src=image)
                        div.inner-list-typing
                    //- Phần nhập nội dung
                    .inner-foot
                        //- --- vùng hiển thị preview ---
                        .preview-wrapper
                            .preview-container
                        form.inner-form(action="" method="POST")
                            input(type="text" placeholder="Nhập nội dung..." name="content")

                            //- --- khu chọn ảnh ---
                            div.upload-area
                                input#imageInput(type="file" multiple accept="image/*" hidden)
                                button(type="button" class="btn btn-light" id="chooseImagesBtn")
                                    i.fa-regular.fa-image
                                    |  Chọn ảnh

                            span(class="button-icon btn btn-light mx-2") <i class="fa-regular fa-face-smile"></i>
                            button(type="submit").send-btn
                                i.fa-solid.fa-paper-plane
    div(class="tooltip" role="tooltip")                            
        emoji-picker