include ./box-head.pug
include ./product-item.pug
mixin product-grid(title,products)
    .product_grid
        .product_grid-title 
            +box-head(title)
        .product_grid-box 
            each item in products
                +product-item(item)
mixin product-slide(title,products)
    .product_wrapper-slider
        .product-slider-title FLASH DEALS
        .product-slider
            each item in products
                +product-item(item)
            
                