
doctype html
html 
    head 
        link(rel="preconnect" href="https://product-management-3tz1.onrender.com" crossorigin)
        link(rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin)
        link(rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin)
        link(rel="dns-prefetch" href="https://cdn.jsdelivr.net")
        meta(name="google-site-verification" content="H2IMoh3XQLZaCrERNeJeBWwOjk2LVnaGepAGks4uVfI")

        title Haka - Điện thoại, laptop, tablet, phụ kiện chính hãng
        meta(name="description" content="Haka - Hệ thống cửa hàng bán lẻ điện thoại, laptop, tablet, smartwatch, thiết bị IT và phụ kiện chính hãng. Giá tốt, trả góp 0%, giao hàng miễn phí toàn quốc.")
        meta(name="keywords" content="Haka, điện thoại, laptop, tablet, smartwatch, phụ kiện, cửa hàng điện thoại, thiết bị IT, hàng chính hãng")
        meta(property="og:title" content="Haka - Điện thoại, laptop, tablet, phụ kiện chính hãng")
        meta(property="og:description" content="Mua sắm tại Haka - Giá tốt, hàng chính hãng, giao hàng nhanh và hỗ trợ trả góp 0%.")
        link(rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAk1BMVEXhBCrgBSrhACnhACfiAB3iABflh5PjiZjkiJ3cACHUABz////+///YAAbZABr9/Pz///37+vz35+303ej03+bz2ufYAADgU2bcAADmkJfZAAvdWm7rucP33N7iBS3/8/v3z9rkfo/yxMjWABPfSmnlbXrcFjPXEz3qoqj77u3oq7HbMlLcK0Lwwc7ZQVjidX7lhpzmhyg6AAABEklEQVR4AW2SBZaEMAxA0wQPDmPIuPv9T7fYDoHHh+qvtzCNUoCiNFA0KGn6EEClOodkmJbANG3opcM1rtsFZk9IPwhD/uFyNJIcJ0mSJsms+jmYIwzkYt6xnK84QwApc1sRIkEVloVfVQrplg4hrJsqUgBi2A2zu81ovVZNLWK/z2ovu5J5n60JcL2GfszWaodjUdnTWYfKjkAg/XI1L7f7WSeYgDSiRxTen9mExvoGFi7z603T95h92OUwA0Hfcp1dmaO5OKH10667VcDa/nA4kKr0CbEdV2skiLN19/PMq468/k8jeYjC6sbSltgdS9fl//t2x5IlLrtCgm2Y3x7L+togaJ/m74HaKKUaAgM5zR8tqhaPJPtMXgAAAABJRU5ErkJggg==" type="image/x-icon")

        link(rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
        link(rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'")


        link(rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.7/viewer.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
        link(rel="preload" href="https://unpkg.com/file-upload-with-preview/dist/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
        link(rel="preload" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" as="style" onload="this.onload=null;this.rel='stylesheet'")

        link(rel="preload" href="/client/css/main.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
        noscript
            link(rel="stylesheet" href="/client/css/main.min.css")
    body
        .layout
            include ../partials/header.pug
            main.main 
                block main
            include ../partials/footer.pug
        script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" defer)
        script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer)
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" defer)
        script(src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.7/viewer.min.js" defer)
        script(src="/socket.io/socket.io.js" defer)
        script(src="/js/socket.js" defer)
        script(src="/js/script.js" defer)
        script(src="/client/js/main.js" defer)
        block script