.product_category{
    margin: 50px 0;
}
.product-detail{
    padding: 50px 0;
    background-color: #F5F5F5;
    &_box{
        display: flex;
        gap: 30px;
        background: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 30px;
        &-left{
            flex: 4 1 0;
        }
        &-thumbnail{
            max-width: 500px;
            img{
                width: 100%;
                transition: transform 0.3s ease-in-out; 
            }
            &:hover img{
                transition: transfrom 0.1 ease-in;
                transform: scale(1.03);
            }
        }
        &-right{
            flex: 6 1 0;
        }
        &-info{
            padding: 10px;
        }
        &-title{
            font-size: 20px;
            color: #333;
            h4{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
            }
            span{
                background-color: #ee4d2d;
                font-size: 12px;
                padding: 5px 10px;
                border-radius: 5px;
                color: white;
                margin-right: 5px;
            }
        }
        &-price{
            display: flex;
            align-items: center;
            padding: 0 10px;
            margin-bottom: 10px;
            &-new{
                color: #ee4d2d;
                font-size: 30px;
                font-weight: 500;
                margin-right: 10px;
            }
            &-old{
                color: #929392;
                font-size: 16px;
                text-decoration: line-through;
                margin-right: 10px;
            }
        }
        &-percent{
            color: #ff6600;
            font-size: 18px;
            span{
                color: #ee4d2d;
                background-color: #feeeea;
                padding: 1px;
            }
        }
        &-stock {
            background: #f3f4f673;
            padding: 6px 10px;
            border-radius: 6px;
            font-size: 15px;
            margin-bottom: 20px;
            span {
                font-weight: 600;
                color: #2563eb;
                margin: 0 3px;
            }
        }

        &-category {
            font-size: 15px;
            background: #f3f4f673;
            padding: 6px 10px;
            border-radius: 6px;
            margin-bottom: 20px;
            a {
                color: #2563eb;
                text-decoration: none;
                font-weight: 600;
                text-transform: uppercase;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &-input{
            display: flex;
            padding: 0 20px;
            align-items: center;
            margin-bottom: 20px;
            label{
                margin-right: 40px;
            }
            input{
                max-width: 150px;
                margin-right: 50px;
                text-align: center;
            }
        }
        &-button{
            button{
                border: none;
                background-color: #FEEDE1;
                color: #ee4d2d;
                border: 1px solid #ee4d2d;
                padding: 10px 20px;
                border-radius: 2px;
                transition: all 1s ease-in-out;
                &:hover{
                    background-color: #FFF5F1;
                }       
            }
        }
    }
    &_description{
        background: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 5px;
        padding: 20px;
    }
    @media (max-width: 991.98px) {
        &_box{
            flex-direction: column;
            align-items: center;
        }
    }
}