@use "../utils/index" as *;
.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    //headertop
    &_top{
        background: linear-gradient(180deg, #e45464 0%, #d70018 100%);
        padding: 20px 0;
    }

    &_container {
        display: flex;
        max-width: 1300px;
        width: 100%;
        gap: 15px;
        margin: 0 auto;
        align-items: center;
    }
    &_logo {
        flex: 2 1 0;
        margin-right: 10px;
        &-image {
            max-width: 180px;
            display: block;

            img {
                width: 100%;
            }
        }
        span{
            color: white;
            font-size: 12px;
            white-space: nowrap;
        }
    }

    &_search {
        flex: 4 1 0;
        margin-right: 25px;
        &-group {
            display: flex;
            align-items: center;
            display: flex;
            background-color: white;
            padding: 7px 10px;
            border-radius: 30px;
            margin-bottom: 0;

            input {
                width: 100%;
                border: none;

                &:focus {
                    outline: none;
                }
            }

            button {
                border: none;
                background-color: white;
                i{
                    font-size: 20px;
                }
            }
        }
    }
    
    &_nav{
        flex: 3 1 0;
        margin-right: 25px;
        display: flex;
        a{
            color: white;
            text-align: center;
            display: block;
            font-size: 16px;
            margin-right: 20px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    &_miniBar{
        flex: 1 1 0;
        cursor: pointer;
        display: none;
        i{
            color: white;
            font-size: 25px;
        }
    }
    //actions
    &_actions{
        flex: 5 1 0;
        display: flex;
        gap: 15px;
        align-items: center;
    }
    &_cart{
        flex: 0.5 1 0;
        a{
            position: relative;
        }
        i{
            font-size: 25px;
            color: white;
        }
        span{
            position: absolute;
            top: -12px;
            right: -12px;
            background-color: #ff6600;
            color: white;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &_user{
        flex: 2 1 0;
        li{
            i{
                font-size: 20px;
                color: white;
                margin-right: 2px;
            }
            a{
                text-align: center;
                color: white;
                display: block;
                font-size: 16px;
            }
        }
    }
    &_contact{
        flex: 1.5 1 0;
        li{
            i{
                font-size: 20px;
                color: white;
                margin-right: 2px;
            }
            a{
                text-align: center;
                color: white;
                display: block;
                font-size: 16px;
            }
        }
    }
    &_auth{
        &.logout{
            flex: 2 1 0;
        }
        &.login{
            flex: 4 1 0;
        }
        li{
            display: flex;
            i{
                font-size: 20px;
                color: white;
                margin-right: 2px;
            }
             a{
                text-align: center;
                color: white;
                display: block;
                font-size: 15px;
                margin-right: 5px;
            }
        }
    }
    //headertop

    //responsive
    @media (max-width: 1300px) {
        &_container{
            max-width: 1200px;
            padding: 0 15px;
        }
        &_actions{
            flex: 3 1 0;
        }
        &_user,&_auth,&_contact{
            a{
                span{
                    display: none;
                }
            }
        }
        
    }
    @media (max-width: 991.98px) {
        &_nav{
            a{
                font-size: 14px;
            }
        }
    }
    @media (max-width: 767.98px) {
        &_container{
            gap: 5px;
            position: relative;
        }
        &_search{
            flex: 3 1 0;
        }
        &_miniBar{
            display: block;
        }
        &_actions{
            display: none;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            top: 60px;
            right: 0;
            background: white;
            width: 200px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
            border-radius: 8px;
            padding: 10px;
            padding-left: 20px;
            z-index: 10;
            &.active {
                display: flex;
            }
        }
        &_cart{
            i{
                color: #333;
            }
        }
        &_user{
            li{
                i{
                    color: #333;
                }
                a{
                    color: #333;
                    span{
                        display: inline;
                    }
                }
            }
        }
        &_contact{
            li{
                i{
                    color: #333;
                }
                a{
                    color: #333;
                    span{
                        display: inline;
                    }
                }
            }
        }
        &_auth{
            li{
                display: block;
                i{
                    color: #333;
                }
                a{
                    color: #333;
                    span{
                        display: inline;
                    }
                }
            }
        }
        
    }
    @media (max-width: 575.98px) {
        &_search{
            flex: 2;
        }
        &_nav{
            a{
                font-size: 13px;
            }
        }
    }
    //responsive
}