.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    align-items: center;

    @media (max-width: 1199.98px) {
        max-width: 1140px;
        padding: 0 15px;
    }

    // Tablet lớn
    @media (max-width: 991.98px) {
        max-width: 960px;
        padding: 0 15px;
    }

    // Tablet nhỏ
    @media (max-width: 767.98px) {
        max-width: 720px;
        padding: 0 15px;
    }

    // Mobile
    @media (max-width: 575.98px) {
        max-width: 100%;
        padding: 0 10px;
    }
}